/data/*
/.ipynb_checkpoints/*
/__pycache__/*
/savedModels/*
!/savedModels/placeholder.txt
!/data/placeholder.txt
/papers/*
!/report/*
!/report/An Exploration of STGNN for Electricity Load Forecasting.pdf
!/report/img/*